<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

{{ partial "head" . }}

<body>
  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main aria-role="main">
  {{ block "main" . }}{{end}}
  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ . }}" async></script>
  {{ end }}

  {{ if .Params.showform }}
  <script>
    window.HDL_CONF = window.HDL_CONF || {};

    window.HDL_CONF.apiLocation = '{{ $.Site.Params.apiLocation }}';
    window.HDL_CONF.recaptchaKey = '{{ $.Site.Params.recaptchaKey }}';
  </script>
  {{ $script := .Site.Data.webpack.participate }}
  <script src="https://www.google.com/recaptcha/api.js?render={{ $.Site.Params.recaptchaKey }}" async></script>
  {{ with $script.js }}
    <script src="{{ . }}" async></script>
  {{ end }}
  {{ end }}

  {{ if .Page.Scratch.Get "hasPlaylist" }}
  {{ $script := .Site.Data.webpack.youtubePlaylist }}
  {{ with $script.js }}
    <script src="{{ . }}" async></script>
  {{ end }}
  {{ end }}
</body>

</html>
