{{ define "main" }}
<section class="section bg-light text-center">
  <div class="container">
    {{ .Content }}
  </div>
</section>
<section class="section bg-dark text-light links-light">
  <div class="container">
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-4 col-lg-5">
        <h2>Bezorg ons jouw Coronaheld!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque porro enim magni, molestiae vero quasi ab.</p>
        <p>Numquam, voluptates! Eaque accusantium dignissimos harum dolore sint qui nulla voluptate, non totam cumque adipisci nobis autem, alias reprehenderit nemo assumenda culpa!</p>
      </div>
      <div class="col-md-8 col-lg-6">
        <div id="nominateForm"></div>
      </div>
    </div>
    
  </div>
</section>
{{ end }}