{{ define "main" }}
<div class="styleguide">
  <header class="section bg-light">
    <div class="container">      
      <div class="alert alert-light mb-5 text-center" role="alert">
        Dit is een <strong>tijdelijke</strong> style guide om de algemene look and feel van de website te bepalen en af te toetsen hoe we content uniform kunnen weergeven doorheen de site.
      </div>
      <div class="mt-5 row justify-content-between">
        <div class="col-md-5">
          <h1>Hero</h1>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
            nesciunt corrupti incidunt iste asperiores quisquam et, earum
            assumenda voluptates illum perspiciatis omnis autem repellendus
            deserunt delectus inventore obcaecati quaerat!
          </div>
          <div class="my-4">
            <a class="btn btn-lg btn-primary" href="#">Button</a>
            <a class="btn btn-lg btn-outline-primary" href="#">Other button</a>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="mb-5 embed-responsive embed-responsive-16by9"
            style="max-width: 800px;"
          >
            <iframe
              class="embed-responsive-item"
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/lKmyjajxA68"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="section bg-dark text-light">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div
            class="mb-5 embed-responsive embed-responsive-16by9"
            style="max-width: 800px;"
          >
            <iframe
              class="embed-responsive-item"
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/lKmyjajxA68"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col-md-5">
          <h2>section x</h2>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
            nesciunt corrupti incidunt iste asperiores quisquam et, earum
            assumenda voluptates illum perspiciatis omnis autem repellendus
            deserunt delectus inventore obcaecati quaerat!
          </div>
          <div class="my-4"><a class="btn btn-primary" href="#">button</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-darkred text-light">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5">
          <h2>section y</h2>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
            nesciunt corrupti incidunt iste asperiores quisquam et, earum
            assumenda voluptates illum perspiciatis omnis autem repellendus
            deserunt delectus inventore obcaecati quaerat!
          </div>
          <div class="my-4">
            <a class="btn btn-secondary" href="#">button</a>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="mb-5 embed-responsive embed-responsive-16by9"
            style="max-width: 800px;"
          >
            <iframe
              class="embed-responsive-item"
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/lKmyjajxA68"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>Colors</h2>
      <div class="color-overview">
        <div class="bg-primary text-white">Primary</div>
        <div class="bg-secondary text-dark">Secondary</div>
        <div class="bg-tertiary text-white">Tertiary</div>
        <div class="bg-light text-dark">Light</div>
        <div class="bg-dark text-white">Dark</div>
        <div class="bg-blue text-white">Blue</div>
        <div class="bg-darkred text-white">Dark red</div>
        <div class="bg-info text-white">info</div>
        <div class="bg-warning text-white">warning</div>
        <div class="bg-danger text-white">danger</div>
        <div class="bg-success text-white">success</div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content bootstrap">
            <h1>Custom components</h1>
            <section>
              <h2>Testimonial</h2>
                <div class="bg-lightest py-5 px-3 px-lg-5 rounded-lg shadow-sm mx-auto" style="max-width: 800px">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="p-2"><img class="img-fluid rounded-circle shadow-sm" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/avatar/avatar-0.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                      <div>
                        <blockquote class="blockquote-icon">
                          <p class="text-lg text-black-50 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quam, sit libero dolorum dolore distinctio hic cumque a eius, assumenda eveniet aliquid porro nostrum tempora?</p>
                          <h6 class="text-lg text-uppercase text-primary">— XYZ</h6>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content bootstrap">
            <h1>Bootstrap stuff</h1>
            <section>
              <h2>jumbotron</h2>
              <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">
                  This is a simple hero unit, a simple jumbotron-style component
                  for calling extra attention to featured content or
                  information.
                </p>
                <hr class="my-4" />
                <p>
                  It uses utility classes for typography and spacing to space
                  content out within the larger container.
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button"
                  >Learn more</a
                >
              </div>
            </section>
            <section>
              <h2>alerts</h2>

              <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
              </div>
              <div class="alert alert-secondary" role="alert">
                A simple secondary alert—check it out!
              </div>
              <div class="alert alert-light" role="alert">
                A simple light alert—check it out!
              </div>
              <div class="alert alert-dark" role="alert">
                A simple dark alert—check it out!
              </div>
            </section>
            <section>
              <h2>badges</h2>

              <h1>
                Example heading <span class="badge badge-secondary">New</span>
              </h1>
              <h2>
                Example heading <span class="badge badge-primary">New</span>
              </h2>
              <button type="button" class="btn btn-primary">
                Notifications <span class="badge badge-light">4</span>
              </button>
            </section>
            <section>
              <h2>breacrumb</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Data
                  </li>
                </ol>
              </nav>
            </section>
            <section>
              <h2>buttons</h2>
              <div>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">
                  Secondary
                </button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
                <button type="button" class="btn btn-link">Link</button>
              </div>

              <div class="my-4">
                <button type="button" class="btn btn-primary btn-lg">
                  Large button
                </button>
                <button type="button" class="btn btn-secondary btn-lg">
                  Large button
                </button>
              </div>
            </section>
            <section>
              <h2>Cards</h2>
              <div class="my-4">
                <div class="card" style="width: 18rem;">
                  <svg
                    class="bd-placeholder-img card-img-top"
                    width="100%"
                    height="180"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Image cap"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96" />
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
                  </svg>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="card-columns">
                <div
                  class="card text-white bg-primary mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div
                  class="card text-white bg-secondary mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div
                  class="card text-white bg-success mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div
                  class="card text-white bg-danger mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div
                  class="card text-white bg-warning mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Warning card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div
                  class="card text-white bg-info mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <div
                  class="card text-white bg-dark mb-3"
                  style="max-width: 18rem;"
                >
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h2>Carousels</h2>
              <div>
                <div class="bd-example">
                  <div
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-ride="carousel"
                  >
                    <ol class="carousel-indicators">
                      <li
                        data-target="#carouselExampleCaptions"
                        data-slide-to="0"
                        class=""
                      ></li>
                      <li
                        data-target="#carouselExampleCaptions"
                        data-slide-to="1"
                        class="active"
                      ></li>
                      <li
                        data-target="#carouselExampleCaptions"
                        data-slide-to="2"
                        class=""
                      ></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <svg
                          class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                          width="800"
                          height="400"
                          xmlns="http://www.w3.org/2000/svg"
                          preserveAspectRatio="xMidYMid slice"
                          focusable="false"
                          role="img"
                          aria-label="Placeholder: First slide"
                        >
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#777"></rect>
                          <text x="50%" y="50%" fill="#555" dy=".3em">
                            First slide
                          </text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>
                            Nulla vitae elit libero, a pharetra augue mollis
                            interdum.
                          </p>
                        </div>
                      </div>
                      <div class="carousel-item active">
                        <svg
                          class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                          width="800"
                          height="400"
                          xmlns="http://www.w3.org/2000/svg"
                          preserveAspectRatio="xMidYMid slice"
                          focusable="false"
                          role="img"
                          aria-label="Placeholder: Second slide"
                        >
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#666"></rect>
                          <text x="50%" y="50%" fill="#444" dy=".3em">
                            Second slide
                          </text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <svg
                          class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                          width="800"
                          height="400"
                          xmlns="http://www.w3.org/2000/svg"
                          preserveAspectRatio="xMidYMid slice"
                          focusable="false"
                          role="img"
                          aria-label="Placeholder: Third slide"
                        >
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#555"></rect>
                          <text x="50%" y="50%" fill="#333" dy=".3em">
                            Third slide
                          </text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>
                            Praesent commodo cursus magna, vel scelerisque nisl
                            consectetur.
                          </p>
                        </div>
                      </div>
                    </div>
                    <a
                      class="carousel-control-prev"
                      href="#carouselExampleCaptions"
                      role="button"
                      data-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#carouselExampleCaptions"
                      role="button"
                      data-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h2>Collapsibles</h2>
              <div>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button
                          class="btn btn-link btn-block text-left"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          Collapsible Group Item #1
                        </button>
                      </h2>
                    </div>

                    <div
                      id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button
                          class="btn btn-link btn-block text-left collapsed"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Collapsible Group Item #2
                        </button>
                      </h2>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button
                          class="btn btn-link btn-block text-left collapsed"
                          type="button"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Collapsible Group Item #3
                        </button>
                      </h2>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h2>Forms</h2>
              <div>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="name@example.com"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1"
                      >Example select</label
                    >
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2"
                      >Example multiple select</label
                    >
                    <select
                      multiple
                      class="form-control"
                      id="exampleFormControlSelect2"
                    >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1"
                      >Example textarea</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>
                </form>
              </div>
            </section>
            <section>
              <h2>Input groups</h2>
              <div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>

                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Recipient's username"
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"
                      >@example.com</span
                    >
                  </div>
                </div>

                <label for="basic-url">Your vanity URL</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"
                      >https://example.com/users/</span
                    >
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Amount (to the nearest dollar)"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">With textarea</span>
                  </div>
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                  ></textarea>
                </div>
              </div>
            </section>
            <section>
              <h2>Spinners</h2>
              <div>
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-warning" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-light" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </section>
            <section>
              <h2>Toasts</h2>
              <div class="bd-example">
                <div
                  class="toast fade show"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="toast-header">
                    <svg
                      class="bd-placeholder-img rounded mr-2"
                      width="20"
                      height="20"
                      xmlns="http://www.w3.org/2000/svg"
                      preserveAspectRatio="xMidYMid slice"
                      focusable="false"
                      role="img"
                    >
                      <rect width="100%" height="100%" fill="#007aff"></rect>
                    </svg>
                    <strong class="mr-auto">Bootstrap</strong>
                    <small class="text-muted">just now</small>
                    <button
                      type="button"
                      class="ml-2 mb-1 close"
                      data-dismiss="toast"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="toast-body">
                    See? Just like this.
                  </div>
                </div>

                <div
                  class="toast fade show"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="toast-header">
                    <svg
                      class="bd-placeholder-img rounded mr-2"
                      width="20"
                      height="20"
                      xmlns="http://www.w3.org/2000/svg"
                      preserveAspectRatio="xMidYMid slice"
                      focusable="false"
                      role="img"
                    >
                      <rect width="100%" height="100%" fill="#007aff"></rect>
                    </svg>
                    <strong class="mr-auto">Bootstrap</strong>
                    <small class="text-muted">2 seconds ago</small>
                    <button
                      type="button"
                      class="ml-2 mb-1 close"
                      data-dismiss="toast"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="toast-body">
                    Heads up, toasts will stack automatically
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}
