<!-- image -->
{{- $classNames := "img-fluid " -}}
{{- $src := .Get "src" -}}
{{- $width := "" -}}
{{- $height := "" -}}
{{- $alt := "" -}}
{{- $src := .Get "src" -}}
{{- with .Get "width" }}{{ $width := . }}{{ end }}
{{ with .Get "height" }}{{ $height := . }}{{ end }}
{{ with .Get "alt" }}{{ $alt := . }}{{- end -}}
{{- with .Get "extraClasses" -}}
{{ $classNames = printf "%s %s" $classNames . }}
{{- end -}}
<img class="{{ $classNames }}" src="{{ $src | absLangURL }}" width="{{ $width }}" height="{{ $height }}" loading="lazy" alt="{{ $alt }}" />
