nav.navbar {
    // Brand is uppercase
    .navbar-brand {
        line-height: 1;
        flex: 1 1 0%;

        img {
            display: block;
            max-height: 100px;
            width: auto;
        }
    }

    .navbar-brand > span {
        &:nth-child(1) {
            color: $papaya-whip;
            font-weight: $font-weight-normal;
        }

        &:nth-child(2) {
            color: $cerulean-crayola;
            font-weight: $font-weight-normal;
        }

        &:nth-child(3) {
            color: $jonquil;
        }
    }

    .nav-item {
        font-weight: 600;
    }

    @include media-breakpoint-up(md) {
        // spread out nav items
        .navbar-nav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(xl) {
        // spread out nav items
        .navbar-nav {
            width: 100%;
            max-width: 900px;
            margin-left: auto;
            display: flex;
            justify-content: flex-end;

            .nav-link {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }
}
