.single-story {
    max-width: 100%;
    overflow-x: hidden;

    .video-wrapper {
        position: relative;

        &::before {
            $width: 138px;
            $height: 136px;

            display: block;
            position: absolute;
            width: $width/2;
            height: $height/2;
            content: '';
            background: url('/img/hdl-crown.png') no-repeat;
            background-size: 100% 100%;
            top: -$height/4;
            right: -$width/4;
            z-index: 2;
            transform: rotate(30deg);
        }
    }
}

.slinks {
    list-style-type: none;
    padding: 0;

    > li {
        display: inline-block;
    }

    svg.icon {
        width: 24px;
        height: 24px;
    }
}

.story-list {
    a.thumb {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      
        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/></svg>');
            background-repeat: no-repeat;
            background-size: 8rem 8rem;
            position: absolute;
            display: inline-block;
            z-index: 999;
            width: 8rem;
            height: 8rem;
        }
    }

    .card-title {
        font-size: 1.25rem;
    }
}