{{ define "main" }}
{{ .Content }}
{{ $sections := slice "bg-white" "bg-secondary" "bg-tertiary" }}

{{ range $index, $element := .Pages }}
{{ $sectionIndex := mod (div $index 3) 3 }}
{{ if (modBool $index 3) }}
{{ if ne $index 0 }}
        </div>
    </div>
</section>
{{ end}}
<section class="section {{ index $sections $sectionIndex }}">
    <div class="container">
        <div class="row justify-content-md-center align-items-md-center story-list">
        {{ end }}
<div class="col-sm-6 col-md-4 mb-5">
{{ with $element }}
{{ .Render "story" }}
{{ end }}
</div>
{{ end }}
        </div>    
    </div>
</section>
{{ end }}